*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #e8d6eb;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(Imagies/background\ \(2\).jpeg);
    background-size: cover;
    background-position: cover;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
/* hovering*/
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #612d3d;
    position: absolute;
    left: 0;
    bottom: -6px;    
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
/* header paragraph*/
.headerText{
    margin-top: 20%;
    font-size: 30px;
    color: rgb(97, 64, 95);
}
.headerText h1{
    font-size: 60px;
    margin-top: 10px;
    color: black;
}
.headerText h1 span{
    color: #612d3d;
}


/*------------------------------------about page------------------*/

#about{
    padding: 180px 0;
    color: #7e5085;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*image*/
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 80%;
    height: 550px;
    margin-left: 10%;
    margin-top: 10%;
    border-radius: 15px;
}
/*info on me*/
.about-col-2{
    flex-basis: 60%;
    margin-top: 5%;
    color: black;
}
/* skills, experiance and education*/
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: black;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: black;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #612d3d;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}

/* content for each tab link*/
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #7e5085;
    font-size: 14px;
}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}


/*-------------------------------services page-------------------*/

#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #5a4554d8;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #070707;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #a5425f;
    transform: translateY(-10px);
}

/*--------potfolio-----*/
#potfolio{
    padding: 50px 0;
}
.work-list{ /* this places the image links in order next to each other*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;/* when puting the curser over the image, it gives a zoom in effect*/
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #7e5085);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden; /*positioning the information of each image*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;/* pop of the infomation with the background colour*/
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #7e5085;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1); /* the zooming*/
}

.work:hover .layer{
    height: 100%;
}

.bttn{ /* see more button*/
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #7e5085;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #070707;
    transition: background 0.5s;
}
.bttn:hover{
    background: #7e5085;
}
